<html>
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
<body>
    <%if (message === 'ok') {%>
        <br> 
        <table>
            <tr>
                <th> 
                    <label for="oficina">Oficina:</label><br>
                    <select id="oficina">
                        <% datos_oficina.forEach(function(ofi) { %>
                            <option value="<%= ofi.id_oficina %>" 
                                    <% if (ofi.id_oficina == datos[0].id_oficina) { %>
                                        selected
                                    <% } %>
                                    >
                                <%= ofi.oficina %>
                            </option>

                        <% }); %>
                    </select>
                </th>
                <th> 
                    <label for="plataforma">Plataforma:</label><br>
                    <select id="plataforma">
                        <% datos_plataforma.forEach(function(plataforma) { %>
                            <option value="<%= plataforma.id_plataforma %>" 
                                <% if (plataforma.id_plataforma == datos[0].id_plataforma) { %>
                                    selected
                                <% } %>
                                >
                                <%= plataforma.plataforma %>
                            </option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th>
                    <label>Agente: <%= datos[0].agente_usuario %></label>
                </th>
                <th>
                    <label for="password">Password:</label>
                    <input type="text" id="password" maxlength="200" required value="<%= datos[0].agente_password %>">
                </th>
            </tr>
            <tr>       
                <th> 
                    <label for="estado">Estado:</label>
                    <% if (datos[0].marca_baja == false) { %>
                        <!--input type="checkbox" id="estado" checked><br-->
                        <select id="estado">
                            <option value="false" selected>Activo</option>
                            <option value="true">Inactivo</option>
                        </select>
                    <% } else { %>
                        <!--input type="checkbox" id="estado"><br-->
                        <select id="estado">
                            <option value="false">Activo</option>
                            <option value="true" selected>Inactivo</option>
                        </select>
                    <% } %>
                </th>
                <th>
                    <label>Fecha de Creación: <%= datos[0].fecha_hora_creacion %></label>
                </th>
            </tr>
            <tr>
                <th colspan="2"> 
                    <label for="bonoCreacion">Tokens Referidos - Bono por Creación de Usuario (En Fichas):</label>
                    <input type="number" id="bonoCreacion" min="0" required value="<%= datos[0].tokens_bono_creacion %>">
                </th> 
            </tr>
            <tr>
                <th> 
                    <label for="bonoPrimeraCarga">Tokens Referidos - Bono de Primera Carga:</label>
                    <input type="number" id="bonoPrimeraCarga" required value="<%= datos[0].tokens_bono_carga_1 %>">
                </th>       
                <th> 
                    <label for="bonoPrimeraCargaPorcentaje">Aplica Como Porcentaje:</label>
                    <% if (datos[0].tokens_bono_carga_1_porcentaje == true) { %>
                        <select id="bonoPrimeraCargaPorcentaje">
                            <option value="true" selected>Sí</option>
                            <option value="false">No</option>
                        </select>
                    <% } else { %>
                        <select id="bonoPrimeraCargaPorcentaje">
                            <option value="true">Sí</option>
                            <option value="false" selected>No</option>
                        </select>
                    <% } %>
                </th>
            </tr>
        </table>
        <button onclick="modificar_Agente(<%= datos[0].id_agente %>);">Guardar Cambios</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>