<html>
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    <label for="usuario">Agente Usuario:</label>
                    <input type="text" id="usuario" value=""> 
                </th>
                <th>
                    <label for="password">Agente Contraseña:</label>
                    <input type="text" id="password" value="">        
                </th>
            </tr>
            <tr>       
                <th>
                    <label for="oficina">Oficina:</label><br>
                    <select id="oficina">
                        <% datos_oficina.forEach(function(ofi) { %>
                            <option value="<%= ofi.id_oficina %>"><%=ofi.oficina%></option>
                        <% }); %>
                    </select>
                </th>
                <th> 
                    <label for="plataforma">Plataforma:</label><br>
                    <select id="plataforma">
                        <% datos_plataforma.forEach(function(plataforma) { %>
                            <option value="<%= plataforma.id_plataforma %>"><%=plataforma.plataforma%></option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2"> 
                    <label for="bonoCreacion">Tokens Referidos - Bono por Creación de Usuario (En Fichas):</label>
                    <input type="number" id="bonoCreacion" min="0" required value="0">
                </th> 
            </tr>
            <tr>
                <th> 
                    <label for="bonoPrimeraCarga">Tokens Referidos - Bono de Primera Carga (%):</label>
                    <input type="number" id="bonoPrimeraCarga" min="0" max="100" required value="0">
                </th>
                <th> 
                    <label for="bonoPrimeraCargaPorcentaje">Aplica Como Porcentaje:</label>
                    <select id="bonoPrimeraCargaPorcentaje">
                        <option value="true" selected>Sí</option>
                        <option value="false">No</option>
                    </select>
                </th>
            </tr>
        </table>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="registrar_Agente();">Registrar Agente</button>
    <div id="msgResultado"></div>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>