<h3 class="warning">¡Al eliminar la CUENTA <%= id_cuenta %>, la misma No se podrá UTILIZAR ni quedará VISIBLE en el sistema!</h3>
<div id="msgResultado">
    <button onclick="eliminar_Cuenta_Cobro(<%= id_cuenta %>);">Confirmar</button>
</div>
<button onclick="cerrarModal();">Finalizar</button>