<html>
<head>
    <!--h1><%= title %></h1-->
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message === 'ok') {%>
        <div class="wrapper">
            <div class="search-container">
                <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
                <span class="material-symbols-outlined">search</span>

                <button onclick="abrirModal(21);" class="help">
                    <span class="material-symbols-outlined">help_center</span>
                </button>
            
            </div>

        </div>
        <table id="miTabla">
            <thead>
                <tr>
                    <th>Oficina</th>
                    <th>ID</th>
                    <th>Billetera</th>
                    <th>Nombre</th>
                    <th>Alias</th>
                    <th>CBU</th>
                    <th>Operador</th>
                    <th>Agente</th>
                    <th>Creación</th>
                    <th>Estado</th>
                    <th></th>
                    <% if (id_rol < 3) { %>
                        <th></th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                <% datos.forEach(function(dato) { %>
                    <tr>
                        <td><%= dato.oficina %></td>
                        <td><%= dato.id_cuenta_bancaria %></td>
                        <td><%= dato.billetera %></td>
                        <td><%= dato.nombre %></td>
                        <td><%= dato.alias %></td>
                        <td><%= dato.cbu %></td>
                        <td><%= dato.usuario_noti %></td>
                        <td><%= dato.agente %></td>
                        <td><%= dato.fecha_hora_creacion %></td> 
                        <% if (dato.marca_baja == true) { %>
                            <td> Inactiva </td>
                        <% } else { %>
                            <td> Activa </td>
                        <% } %>
                        <% if (id_rol == 3) { %>
                            <!--td><button onclick="abrirModal(41, <%=dato.id_cuenta_bancaria %>);">Editar</button></td-->
                            <td><button class="botones">
                                    <span onclick="abrirModal(41, <%=dato.id_cuenta_bancaria %>);" 
                                        class="material-symbols-outlined">edit
                                    </span>
                                </button>
                            </td>
                        <% } else { %>
                            <!--td><button onclick="abrirModal(8, <%=dato.id_cuenta_bancaria %>);">Editar</button></td-->
                            <td><button class="botones">
                                    <span onclick="abrirModal(8, <%=dato.id_cuenta_bancaria %>);" 
                                        class="material-symbols-outlined">edit
                                    </span>
                                </button>
                            </td>
                            <td><button class="botones">
                                    <span style="color: orangered;" onclick="abrirModal(42, <%=dato.id_cuenta_bancaria %>);"
                                        class="material-symbols-outlined">delete
                                    </span>
                                </button>
                            </td>
                        <% } %>
                    </tr>
                <% }); %>
            </tbody>
        </table>
        <div id="paginacion" class="pagenumbers"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <% if (id_rol < 3) { %>
        <button onclick="abrirModal(9, <%=id_oficina %>);">Nueva Cuenta</button>
    <% } %>
    <a href="../recursos/PanelesNoti.apk" download="PanelesNoti.apk">
        <span class="material-symbols-outlined">robot_2</span>    
        Descargar PanelesNoti
        <span class="material-symbols-outlined">robot_2</span>    
    </a>
    <!--hr>
    <a href="../recursos/PanelesNotiPY.apk" download="PanelesNotiPY.apk">
        <span class="material-symbols-outlined">robot_2</span>    
        Descargar PanelesNoti Version de Respaldo API Mercado Pago
        <span class="material-symbols-outlined">robot_2</span>    
        <h3 class="warning">¡Descargar y usar esta Versión SOLAMENTE CUANDO NO FUNCIONE LA API DE MERCADO PAGO FUERA DE ARGENTINA!</h3>
    </a-->
    <hr>
    <a href="../recursos/PanelesNotiMP.apk" download="PanelesNotiMP.apk">
        <span class="material-symbols-outlined">robot_2</span>    
        Descargar PanelesNoti Version de Respaldo API Mercado Pago
        <span class="material-symbols-outlined">robot_2</span>    
        <h3 class="warning">¡Descargar y usar esta Versión SOLAMENTE CUANDO NO FUNCIONE LA API DE MERCADO PAGO!</h3>
    </a>
</body>
</html>