<html>
<head>
    <h2><%= title %></h2>
    <h3>Cuenta "<%= datos[0].alias %>" de Oficina "<%= datos[0].oficina %>"</h3> 
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th>      
                    <label>Id Cuenta: <%= datos[0].id_cuenta_bancaria %></label>       
                </th>
                <th>      
                    <label>Nombre: <%= datos[0].nombre %></label>    
                </th>
            </tr>
            <tr>
                <th>
                    <label>Alias: <%= datos[0].alias %></label>    
                </th>
                <th>
                    <label>CBU: <%= datos[0].cbu %></label>     
                </th>
            </tr>
            <tr>
                <th> 
                    <label for="estado">Estado:</label><br>
                    <% if (datos[0].marca_baja == false) { %>
                        <select id="estado">
                            <option value="false" selected>Activa</option>
                            <option value="true">Inactiva</option>
                        </select>
                    <% } else { %>
                        <select id="estado">
                            <option value="false">Activa</option>
                            <option value="true" selected>Inactiva</option>
                        </select>
                    <% } %>
                </th>
                <th>
                    <label>Billetera: <%= datos[0].billetera %></label> 
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="usuario_noti">(Para Login en PanelesNoti y Filtro de Visualizacion) Usuario Login:</label><br>
                    <select id="usuario_noti">
                        <% datos_usuarios.forEach(function(usuario) { %>
                            <option value="<%= usuario.id_usuario %>" 
                                    <% if (usuario.id_usuario == datos[0].id_usuario_noti) { %>
                                        selected
                                    <% } %>
                                    >
                                    <%= usuario.usuario %> 
                            </option>
                        <% }); %>
                    </select>
                    <h3 class="warning">NO deben quedar Usuarios con más de una Cuenta Asignada por Billetera. Utilizar Un Usuario por Celular.</h3>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="agente">Agente:</label><br>
                    <select id="agente">
                        <% datos_agentes.forEach(function(agente) { %>
                            <option value="<%= agente.id_agente %>" 
                                    <% if (agente.id_agente == datos[0].id_agente) { %>
                                        selected
                                    <% } %>
                                    >
                                    <%= agente.agente_usuario %> 
                            </option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label>(Sólo para Mercado Pago) <br>Access Token: <%= datos[0].access_token %></label>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label>Public Key: <%= datos[0].public_key %></label>
                </th>  
            </tr>
            <tr>
                <th colspan="2">
                    <label>Client Id: <%= datos[0].client_id %></label>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label>Client Secret: <%= datos[0].client_secret %></label>     
                </th>  
            </tr>
        </table>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="modificar_Cuenta_Cobro_Operador(<%= datos[0].id_cuenta_bancaria %>);">Guardar Cambios</button>
    <div id="msgResultado"></div>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>