<h3 class="warning">¡Al confirmar esta acción, la cuenta comenzara el conteo desde cero!</h3>
<button onclick="descarga_Cuenta_Cobro(<%= id_cuenta_bancaria %>);">Confirmar Descarga</button>
<div id="msgResultado"></div>
<button onclick="cerrarModal();">Finalizar</button>