<h1><%= title %></h1>
<br>
<style>
    .izquierda {
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>
<div class="izquierda">
    <p>En la configuración de <b>Cuentas para Transferencias</b>, se pueden visualizar los siguientes <b>atributos</b>:</p>
    <br>
    <ul>
        <li><b>Oficina</b>: Descripción de la Oficina</li>
        <li><b>Billetera</b>: Nombre de la Billetera a la que pertenece la Cuenta.</li>
        <li><b>Nombre</b>: Nombre del Titular de la Cuenta.</li>
        <li><b>Alias</b>: Alias de la Cuenta.</li>
        <li><b>CBU</b>: CBU de la Cuenta.</li>
        <li><b>Creación</b>: Fecha y Hora de creación de la Cuenta para Transferencias en el Sistema.</li>
        <li><b>Estado</b>: Estado de la Cuenta para Transferencias en el Sistema. Si está Inactiva, NO se propondrá al Cliente.</li>
    </ul>
    <br><br><br>
    <p>Para Modificar los atributos, hacer click en el botón <b>EDITAR</b>.</p>
    <br><br><br>
    <p>Para Crear una <b>nueva Cuenta para Transferencias</b>, hacer click en el botón <b>NUEVA CUENTA</b>.</p>
    <br><br><br>
    <p>Para recibir notificaciones también desde la <b>API de Mercado Pago</b>, realizar los siguientes pasos:</p>
    <br>
    <p>1) En la página de Desarrolladores de Mercado Pago de la propia cuenta, ingresar en "Tus integraciones" (https://www.mercadopago.com.ar/developers/es/reference)</p>
    <br>
    <img src="../img/ayuda/api_mp_01.png" style="width:800px;">
    <br><br>
    <p>2) Ir a "Crear Aplicación"</p>
    <br>
    <img src="../img/ayuda/api_mp_02.png" style="width:800px;">
    <br><br>
    <p>3) Colocar el Nombre de la Aplicacion (PanelesLanding por ejemplo) y las configuraciones básicas como figura en la imagen:</p>
    <br>
    <img src="../img/ayuda/api_mp_03.png" style="width:800px;">
    <br><br>
    <p>4) Una vez creada la aplicación, ir a "Credenciales de Producción"</p>
    <br>
    <img src="../img/ayuda/api_mp_04.png" style="width:800px;">
    <br><br>
    <p>5) Completar como muestra en la imagen y Activar las Credenciales</p>
    <br>
    <img src="../img/ayuda/api_mp_05.png" style="width:800px;">
    <br><br>
    <p>6) Compartir la información de "Public Key", <b>"Access Token"</b>, "ClientID" y "Cliente Secret"</p>
    <br>
    <img src="../img/ayuda/api_mp_06.png" style="width:800px;">
    <br><br>
    <p>7) Ir a IPN, <b>solicitar el valor id_cuenta correspondiente</b>.<br>
    <p>Completar la URL con "https://recibott.com/api/recibomp?id_cuenta=id_cuenta", "https://recibott.store/api/recibomp?id_cuenta=id_cuenta" ó "https://recibott.online/api/recibomp?id_cuenta=id_cuenta"<p> (cualquiera de los dos dominios, lo ideal es que se usen de forma balanceada). En "Eventos" seleccionar "Pagos (Payments)". Luego hacer click en "Probar". Y finalmente Guardar.</p><br>
    <br>
    <img src="../img/ayuda/api_mp_07.png" style="width:800px;">
    <br><br><br>
    <p>Para Descargar la Aplicación <b>PanelesNoti</b>, hacer click en <b>Descargar PanelesNoti</b>.</p>
    <br><br><br>
    <p>Para el correcto uso Uso de la Aplicación PanelesNoti es necesario <b>Ignorar la Optimización de Batería y deshabilitar 
        la opción de restricción de uso en Segundo Plano</b>:</p>
    <br>
    <p>Pasos a seguir:<br>
        1) Abrir la aplicación "Configuración" en el dispositivo Android<br>
        2) Buscar una opción llamada "Batería" o "Energía" en la configuración.<br>
        3) Dentro de la configuración de batería, busca una opción como "Optimización de la batería" o "Optimización de la batería de las aplicaciones". Esto podría estar dentro de un submenú.<br>
        4) En la lista de aplicaciones, buscar un menú o opción que permita ver todas las aplicaciones.<br>
        5) Tocar la aplicación y desactivar la optimización. Seleccionar "No optimizar" o "No optimizar esta aplicación".<br>
        * Este instructivo puede variar según el dispositivo y la versión de Android.<br>
    </p>
    <br>
    <img src="../img/ayuda/cuentas_cobro_05.png" style="width:400px;">
    <br>
    <img src="../img/ayuda/cuentas_cobro_06.png" style="width:400px;">
    <br><br><br>
    <p>La Aplicación <b>PanelesNoti</b> realiza la captura de las notificaciones de cobros por parte de Clientes.</p>
    <br>
    <p>Los pasos para su uso son los siguientes:</p>
    <br>
    <img src="../img/ayuda/cuentas_cobro_01.png" style="width:250px;">
    <br>
    <img src="../img/ayuda/cuentas_cobro_02.png" style="width:400px;">
    <br>
    <img src="../img/ayuda/cuentas_cobro_03.png" style="width:400px;">
    <br>
    <img src="../img/ayuda/cuentas_cobro_04.png" style="width:250px;">
    <br>
    <h2>¡Importante! Realizar al menos una prueba con la Cuenta para verificar que la Notificación llega al Sistema.</h2>
</div>
<button onclick="cerrarModal();">Finalizar</button>