<h1><%= title %></h1>
<br>
<style>
    .izquierda {
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>
<div class="izquierda">
    <p>En la configuración de <b>Cuentas para Transferencias</b>, se pueden visualizar los siguientes <b>atributos</b>:</p>
    <br>
    <ul>
        <li><b>Oficina</b>: Descripción de la Oficina</li>
        <li><b>Nombre</b>: Nombre del Titular de la Cuenta.</li>
        <li><b>Alias</b>: Alias de la Cuenta.</li>
        <li><b>CBU</b>: CBU de la Cuenta.</li>
        <li><b>Creación</b>: Fecha y Hora de creación de la Cuenta para Transferencias en el Sistema.</li>
        <li><b>Estado</b>: Estado de la Cuenta para Transferencias en el Sistema. Si está Inactiva, no se propone al Cliente.</li>
    </ul>
    <br><br>
    <p>Para Modificar los atributos, hacer click en el botón <b>EDITAR</b>.</p>
    <br><br>
    <p>Para Crear una <b>nueva Cuenta para Transferencias</b>, hacer click en el botón <b>NUEVA CUENTA</b>.</p>
    <br><br>
</div>
<button onclick="cerrarModal();">Finalizar</button>