<html>
<head>
    <h1><%= title %></h1>
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message == 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    Monto Total Actual: $ <%= monto_cargas %>
                </th>
            </tr>
            <tr>
                <th>
                    <label for="monto_descarga">Monto a Descargar:</label>
                    <input type="text" id="monto_descarga" value="<%= monto_cargas %>">
                </th>
            </tr>
        </table>
        <button onclick="descarga_Cuenta_Cobro(<%= id_cuenta_bancaria %>);">Confirmar Descarga</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>