<html>
<head>
    <h2><%= title %></h2>
    <h3>Cuenta Nueva de Oficina "<%= oficina %>"</h3>
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    <label for="nombre">Nombre:</label>
                    <input type="text" id="nombre" maxlength="200">         
                </th>
                <th>
                    <label for="alias">Alias:</label>
                    <input type="text" id="alias" maxlength="200">         
                </th>
            </tr>
            <tr>
                <th>
                    <label for="cbu">CBU:</label>
                    <input type="tel" id="cbu" pattern="[0-9]" required>         
                </th>
                <th> 
                    <label for="estado">Estado:</label><br>
                    <select id="estado">
                        <option value="false" selected>Activa</option>
                        <option value="true">Inactiva</option>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2"> 
                    <label for="billetera">Billetera:</label><br>
                    <select id="billetera">
                        <% datos_billeteras.forEach(function(billetera) { %>
                            <option value="<%= billetera.id_billetera %>">
                                <%= billetera.billetera %>
                            </option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="usuario_noti">(Para Login en PanelesNoti y Filtro de Visualizacion) Usuario Login:</label><br>
                    <select id="usuario_noti">
                        <% datos_usuarios.forEach(function(usuario) { %>
                            <option value="<%= usuario.id_usuario %>">
                                <%= usuario.usuario %>
                            </option>
                        <% }); %>
                    </select>
                    <h3 class="warning">NO deben quedar Usuarios con más de una Cuenta Asignada por Billetera. Utilizar Un Usuario por Celular.</h3>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="agente">Agente:</label><br>
                    <select id="agente">
                        <% datos_agentes.forEach(function(agente) { %>
                            <option value="<%= agente.id_agente %>">
                                    <%= agente.agente_usuario %> 
                            </option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="access_token">(Sólo para Mercado Pago) Access Token:</label>
                    <input type="text" id="access_token" value="-">         
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="public_key">(Sólo para Mercado Pago) Public Key:</label>
                    <input type="text" id="public_key" value="-">         
                </th>  
            </tr>
            <tr>
                <th colspan="2">
                    <label for="client_id">(Sólo para Mercado Pago) Client Id:</label>
                    <input type="text" id="client_id" value="-">         
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="client_secret">(Sólo para Mercado Pago) Client Secret:</label>
                    <input type="text" id="client_secret" value="-">         
                </th>  
            </tr>
        </table>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="crear_Cuenta_Cobro(<%= id_oficina %>);">Crear Cuenta</button>
    <div id="msgResultado"></div>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>