<h3 class="warning">¡Al confirmar esta acción, el Usuario NO Podrá usar este Pago para Cargar Fichas mediante la Landing!</h3>
<button onclick="anula_Notificacion_Cobro(<%= id_notificacion %>);">Confirmar Anulación</button>
<div id="msgResultado"></div>
<button onclick="cerrarModal();">Finalizar</button>