<html>
<head>
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        .column {
            flex: 1; /* Hace que las columnas se expandan para llenar el espacio disponible */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
</head>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th colspan="2">
                    <h2><%= title %></h2> 
                </th>
            </tr>
            <tr>
                <th>
                    Cliente: <%= datos[0].cliente_usuario %>        
                </th>
                <th>      
                    Agente: <%= datos[0].agente_usuario %>        
                </th>
            </tr>
            <tr>
                <th>      
                    Plataforma: <%= datos[0].plataforma %>        
                </th>
                <th>      
                    Oficina: <%= datos[0].oficina %>        
                </th>
            </tr>
                <th>
                    Fecha/Hora: <%= datos[0].fecha_hora_operacion %>        
                </th>
                <th>      
                    Operación: <%= datos[0].codigo_operacion %>        
                </th>
            </tr>
            <tr>
                <th>      
                    Fecha/Hora Ultima Carga del Usuario: <br><%= fecha_ult_carga_usuario %>        
                </th>
                <th>
                    Monto Ultima Carga del Usuario: <br><%= monto_ult_carga_usuario %>            
                </th>
            </tr>
            <tr>
                <th>
                   Titular: <%= datos[0].retiro_titular %>        
                </th>
                <th>      
                    <a onclick="copiarAlPortapapelesRetiroCBU('<%= datos[0].retiro_cbu %>');"
                        style="cursor: pointer;">
                        CBU: <%= datos[0].retiro_cbu %>
                    </a>
                    <div id="mensaje_portapapeles_2"></div>
                </th>
            </tr>
            <tr>
                <th colspan = 2> 
                    <!--label for="monto_retiro">Monto Retiro:</label>
                    <input type="number" id="monto_retiro" value="<%= datos[0].retiro_importe %>"-->
                    <a onclick="copiarAlPortapapelesRetiroMonto('<%= datos[0].retiro_importe_formato.replace(/,/g,'.').trim() %>');"
                        style="cursor: pointer;">
                        Monto Retirado: <%= datos[0].retiro_importe_formato.replace(/,/g,'.') %> 
                    </a>
                    <div id="mensaje_portapapeles_1"></div>
                </th>
            </tr>
        </table>
        <div class="container">
            <h3 class="warning">¡Aceptar, implica haber realizado la Transferencia por el Retiro!</h3>
        </div>
        <div class="container">
            <div id="msgResultado" class="column">
                <button onclick="cargar_Retiro(<%=datos[0].id_operacion %>, <%=datos[0].id_cliente %>, <%= datos[0].retiro_importe %>);">Aceptar</button>
            </div>
            <div id="btnRechazar" class="column">
                <button onclick="rechazar_Retiro(<%=datos[0].id_operacion %>, <%=datos[0].id_cliente %>);">Rechazar</button>
            </div>
        </div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <div class="container">
        <button onclick="cerrarModal();">Finalizar</button>
    </div>
</body>
</html>