<html>
<head>
    <h2><%= title %></h2> 
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
</head>
<body> 
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    Cliente: <%= datos[0].cliente_usuario %>        
                </th>
                <th>      
                    Agente: <%= datos[0].agente_usuario %>        
                </th>
            </tr>
            <tr>
                <th>      
                    Plataforma: <%= datos[0].plataforma %>        
                </th>
                <th>      
                    Oficina: <%= datos[0].oficina %>        
                </th>
            </tr>
            <tr>
                <th>
                    Fecha/Hora: <%= datos[0].fecha_hora_operacion %>        
                </th>
                <th>      
                    Operación: <%= datos[0].codigo_operacion %>        
                </th>
            </tr>
            <tr>
                <th>
                    <a onclick="copiarAlPortapapelesTitularVerificar('<%= datos[0].carga_titular %>');"
                        style="cursor: pointer;">
                        Titular: <%= datos[0].carga_titular %> 
                    </a>
                    <div id="mensaje_portapapeles"></div>
                </th>
                <th>
                    Fecha/Hora Ultima Carga Mismo Titular y Monto: <br><%= fecha_ult_carga_titular %>            
                </th>
            </tr>
            <tr>
                <th>      
                    Fecha/Hora Ultima Carga del Usuario: <br><%= fecha_ult_carga_usuario %>        
                </th>
                <th>
                    Monto Ultima Carga del Usuario: <br><%= monto_ult_carga_usuario %>            
                </th>
            </tr>
            <tr>
                <th>
                    <label for="monto_importe">Monto Importe:</label>
                    <input type="text" id="monto_importe" value="<%= datos[0].carga_importe_2.replace(/,/g,'.') %>"
                        onkeypress="return Carga_isNumber(event)" oninput="Carga_formatNumber()">
                </th>
                <th>
                    <label for="monto_bono">Monto Bono:</label>
                    <input type="text" id="monto_bono" value="<%= datos[0].carga_bono_2.replace(/,/g,'.') %>"
                    onkeypress="return Carga_isNumber(event)" oninput="Carga_formatNumber2()">
                </th>
            </tr>
            <%if (datos_referente.cantidad_cargas == 0 && datos_referente.id_cliente_usuario_referente > 0) {%>
                <tr>
                    <th colspan = 2>
                        <h3 class="warning">¡Al ser Primer Carga, 
                            al usuario referente <%=datos_referente.cliente_usuario_referente %>,
                            se le acreditarán fichas Bono de Creación</h3>
                    </th>
                </tr>
            <%}%>
            <tr>
                <th colspan = 2>   
                    <label for="cuenta_bancaria">Cuenta propuesta: <%= datos[0].carga_id_cuenta_bancaria %>. Por favor, si el envío fué incorrecto seleccionar la que corresponda:</label><br>
                    <select id="cuenta_bancaria">
                        <% datos_cuentas.forEach(function(cuenta) { %>
                            <option value="<%= cuenta.id_cuenta_bancaria %>" 
                                <% if (cuenta.id_cuenta_bancaria == datos[0].carga_id_cuenta_bancaria) { %>
                                    selected
                                <% } %>
                                >
                                <%= cuenta.cuenta_bancaria %>
                            </option>
                        <% }); %>
                    </select>
                </th>
            </tr>
        </table>
        <div class="container">
            <h3 class="warning">¡Al realizar esta acción, no habrá opción de Deshacer!</h3>
        </div>
        <div id="msgResultado" class="container">
            <button onclick="cargar_Cobro(<%=datos[0].id_operacion %>, <%=datos[0].id_cliente %>, <%=datos_referente.cantidad_cargas %>, <%=datos_referente.id_cliente_usuario_referente %>);">Aceptar</button>
            <button onclick="rechazar_Cobro(<%=datos[0].id_operacion %>, <%=datos[0].id_cliente %>);">Rechazar</button>
        </div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <div class="container">
        <button onclick="cerrarModal();">Finalizar</button>
    </div>
</body>
</html>