<h1><%= title %></h1>
<!-- Contenido específico de la página de Usuarios de Clientes -->
<h2>Cargas Recientes1111</h2>
<table> 
    <thead>
        <tr>
        <th>Usuario</th>
        <th>Plataforma</th>
        <th>Monto</th>
        <th>Estado</th>
        <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
        <td>Juan</td>
        <td>365-Online</td>
        <td>$4.500</td>
        <td class="warning">Pendiente</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Pedro</td>
        <td>Casino-VIP</td>
        <td>$4.500</td>
        <td class="success">Cargado</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Ricardo</td>
        <td>365-Online</td>
        <td>$1.800</td>
        <td class="success">Cargado</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Juan</td>
        <td>365-Online</td>
        <td>$4.500</td>
        <td class="warning">Pendiente</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Roberto</td>
        <td>365-Online</td>
        <td>$800</td>
        <td class="danger">Cancelado</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Maria</td>
        <td>365-Online</td>
        <td>$1.200</td>
        <td class="warning">Pendiente</td>
        <td class="primary">Detalles</td>
        </tr>
        <tr>
        <td>Juan</td>
        <td>365-Online</td>
        <td>$4.500</td>
        <td class="warning">Pendiente</td>
        <td class="primary">Detalles</td>
        </tr>
    </tbody>
</table>