<h1><%= title %></h1>
<br>
<style>
    .izquierda {
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>
<div class="izquierda">
    <p>En <b>Recupero con WhatsApp</b>, se pueden visualizar los siguientes <b>atributos</b>:</p>
    <br>
    <ul>
        <li><b>Oficina</b>: Descripción de la Oficina</li>
        <li><b>Teléfono</b>: Este es el número de Cuenta de Whatsapp disponible.</li>
        <li><b>Estado</b>: Estado de la Sesión.</li>
        <li><b>Fecha/Hora Creación</b>: Fecha y Hora de Apertura de la úlitma Sesión.</li>
        <li><b>Fecha/Hora Cierre</b>: Fecha y Hora de Cierre de la úlitma Sesión.</li>
    </ul>
    <br><br><br>
    <p>Para <b>Iniciar Sesión</b>, es necesario hacer click en el botón <b>INICIAR</b>, esto abrirá una ventana, donde al hacer click
    en el botón<b>CONFIRMAR ABRIR SESION</b>, al cabo de unos segundos el sistema mostrará el Código QR que se debe utilizar
    para poder dejar activo el Recupero por Whatsapp:</p><br>
    <img src="../img/ayuda/sesiones_bots_01.png" style="width:500px;"><br>
    <p>Al scanear el código con el celular, aguardar mientras está sincronizando:</p>
    <img src="../img/ayuda/sesiones_bots_02.png" style="width:500px;"><br>
    <p>Y una vez terminado este proceso, sí hacer click en el botón <b>FINALIZAR</b>:</p>
    <img src="../img/ayuda/sesiones_bots_03.png" style="width:500px;"><br><br><br>
    <p>Para <b>Finalizar Sesión</b>, es necesario hacer click en el botón <b>FINALIZAR</b>, esto abrirá una ventana, donde al hacer click
    en el botón <b>CONFIRMAR TERMINAR SESION</b> pasará a quedar inactivo el Recupero por Whatsapp.</p><br>
    <br><br>
    <p><b>Es muy importante que antes de abrir sesión desde el sistema, se verifique desde el celular que esté también la sesión cerrada para evitar bloqueos</b>
    <br>
</div>
<button onclick="cerrarModal();">Finalizar</button>