<div id="boton_abrir_sesion">
    <button onclick="abrir_Sesion_Recupero(<%= id_oficina %>, <%= id_usuario %>);">Confirmar Abrir Sesión</button>
</div>
<div class="qr" id="qr-container"></div>
<button onclick="setTimeout(function() {cerrarModal();}, 1000);">Finalizar</button>