<html>
    <head>
        <h2><%= title %></h2>
    </head>
    <style>
        table {
        width: 100%;
        border-collapse: collapse;
        }
        img {
        display: block; /* Para evitar problemas de alineación vertical */
        margin: auto; /* Centrar horizontalmente la imagen */
        }
    </style>
    <body>
        <%if (message === 'ok') {%>
            <div class="wrapper">
                <div class="search-container">
                    <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
                    <span class="material-symbols-outlined">search</span>
                    <button onclick="abrirModal(38);" class="help">
                        <span class="material-symbols-outlined">help_center</span>
                    </button>
                </div>
            </div>
            <table id="miTabla">
                <thead>
                    <tr>
                        <th>Oficina</th>
                        <th>Telefono</th>
                        <th>Usuario</th>
                        <th>Fecha/Hora Creación</th>
                        <th>Fecha/Hora Cierre</th>
                    </tr>
                </thead>
                <tbody>
                    <% datos.forEach(function(dato) { %>
                        <tr>
                            <td><%= dato.oficina %></td>
                            <td><%= dato.numero_telefono %></td>
                            <td><%= dato.usuario %></td>
                            <td><%= dato.fecha_hora_creacion %></td>
                            <% if (dato.id_estado === 1) { %>
                                <td><button onclick="abrirModal(39,<%=dato.id_oficina%>);">Finalizar</button></td>
                            <% } else { %>
                                <td><%= dato.fecha_hora_cierre %></td>
                            <% } %>
                        </tr>
                    <% }); %>
                </tbody>
            </table>
            <div id="paginacion" class="pagenumbers"></div>
        <%} %>
        <button onclick="abrirModal(40, <%=id_oficina%>, <%=id_usuario%>);">Nueva Sesion</button>
    </body>
</html>