<html>
<head>
    <h2><%= title %></h2>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th>Oficina</th>
                <th>ID</th>
                <th>Nombre</th>
                <th>Alias</th>
                <th>CBU</th>
                <th>Billetera</th>
                <th>Monto Descarga</th>
                <th>Monto Saldo</th>
                <th>Fecha/Hora Saldo</th>
            </tr>
        </thead>
        <tbody>
            <% datos_cuentas.forEach(function(dato_cuenta) { %>
                <tr>
                    <td><%= dato_cuenta.oficina %></td>
                    <td><%= dato_cuenta.id_cuenta_bancaria %></td>
                    <td><%= dato_cuenta.nombre %></td>
                    <td><%= dato_cuenta.alias %></td>
                    <td><%= dato_cuenta.cbu %></td>
                    <td><%= dato_cuenta.billetera %></td>
                    <td><%= dato_cuenta.monto_descarga %></td>
                    <td><%= dato_cuenta.monto_saldo %></td>
                    <td><%= dato_cuenta.fecha_hora_saldo %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>