<html>
<head>
    <h3><%= title %></h3>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <!--h1>Cargas por Agente y Plataforma</h1-->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th rowspan="2">Fecha</th>
                <th rowspan="2">Oficina</th>
                <th rowspan="2">Agente</th>
                <th rowspan="2">Plataforma</th>
                <th rowspan="2"></th>
                <th colspan="6">Landing</th>
                <th colspan="4">Panel</th>
            </tr>
            <tr>
                <th>Cargas ($)</th>
                <th>Bonos</th>
                <th>#Cargas</th>
                <th>% Automáticas</th>
                <th>Retiros ($)</th>
                <th>#Retiros</th>
                <th>Cargas ($)</th>
                <th>#Cargas</th>
                <th>Retiros ($)</th>
                <th>#Retiros</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(function(dato) { %>
                <tr>
                    <td><%= dato.fecha %></td>
                    <td><%= dato.oficina %></td>
                    <td><%= dato.agente_usuario %></td>
                    <td><%= dato.plataforma %></td>
                    <td><a href="/descargar_detalle/<%=id_token%>/<%=id_usuario%>/<%=dato.fecha%>/<%=dato.agente_usuario%>/<%=dato.oficina%>">
                                <span class="material-symbols-outlined">vertical_align_bottom</span>
                        </a>
                    </td>
                    <td><%= dato.cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.bonos %></td>
                    <td><%= dato.cant_cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.porcentaje_automaticas %> %</td> 
                    <td><%= dato.retiros.replace(/,/g,'.') %></td>
                    <td><%= dato.cant_retiros.replace(/,/g,'.') %></td>
                    <td><%= dato.pl_cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.pl_cant_cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.pl_retiros.replace(/,/g,'.') %></td>
                    <td><%= dato.pl_cant_retiros.replace(/,/g,'.') %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>