<html>
<head>
    <h3><%= title %></h3>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <!--h1>Cargas por Agente y Plataforma</h1-->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th>Oficina</th>
                <th>Agente</th>
                <th>Estado</th>
                <th>Contactos</th>
                <th>Ingresos</th>
                <th>Registros</th>
                <th>Cargas</th>
            </tr>
        </thead>
        <tbody>
            <% datos_recupero.forEach(function(dato_rec) { %>
                <tr>
                    <td><%= dato_rec.oficina %></td>
                    <td><%= dato_rec.agente_usuario %></td>  
                    <%if (dato_rec.id_estado == 1) {%>
                        <td>Sin Enviar</td> 
                    <% } else {%>
                        <td>Enviado</td> 
                    <% } %>
                    <td><%= dato_rec.contactos.replace(/,/g,'.') %></td>
                    <td><%= dato_rec.ingresos.replace(/,/g,'.') %></td>
                    <td><%= dato_rec.registros.replace(/,/g,'.') %></td>
                    <td><%= dato_rec.cargas.replace(/,/g,'.') %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>