<html>
<head>
    <h3><%= title %></h3>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
        </div>
    </div>
    <table id="miTabla">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Oficina</th>
                <th>Usuario</th>
                <th>Acción</th>
                <th>Estado</th>
                <th></th>
                <th>Cargas ($)</th>
                <th>Bonos</th>
                <th>% Automáticas</th>
                <th># Manuales</th>
                <th># Automáticas</th>
                <th># Total Cargas</th>
                <th>Retiros ($)</th>
                <th>#Retiros</th>
            </tr>
        </thead>
        <tbody>
            <% datos.forEach(function(dato) { %>
                <tr>
                    <td><%= dato.fecha %></td>
                    <td><%= dato.oficina %></td>
                    <td><%= dato.usuario %></td>
                    <td><%= dato.accion %></td>
                    <td><%= dato.estado %></td>
                    <td><a href="/descargar_detalle_operador/<%=id_token%>/<%=id_usuario%>/<%=dato.fecha%>/<%=dato.usuario%>/<%=dato.oficina%>">
                                <span class="material-symbols-outlined">vertical_align_bottom</span>
                        </a>
                    </td>
                    <td><%= dato.cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.bonos %></td>
                    <td><%= dato.porcentaje_automaticas %> %</td> 
                    <td><%= dato.cant_manuales.replace(/,/g,'.') %></td>
                    <td><%= dato.cant_automaticas.replace(/,/g,'.') %></td>
                    <td><%= dato.cant_cargas.replace(/,/g,'.') %></td>
                    <td><%= dato.retiros.replace(/,/g,'.') %></td>
                    <td><%= dato.cant_retiros.replace(/,/g,'.') %></td>
                </tr>
            <% }); %>
        </tbody>
    </table>
    <div id="paginacion" class="pagenumbers"></div>
</body>
</html>