<html>
<head>
    <h2><%= title %></h2>
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
</style>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <% if (id_rol == 1) {%>
        <table>
            <tbody>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_actividad_dia.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_actividad_torta_dia_cargas.png" style="width:500px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_actividad_torta_dia_plataformas.png" style="width:500px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_cargas_evolucion.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_clientes_en_operaciones.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_solicitudes_rechazadas.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_clientes_nuevos.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_sockets.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_demoras_prom_desv.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_boxplot_demoras.png" style="width:500px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_boxplot_cargas.png" style="width:500px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_concurrencias.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_concurrencias_bd.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_peticiones_nginx.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_peticiones_operador.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_peticiones_notificaciones.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_peticiones_prom_desv_s1.png" style="width:500px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_peticiones_prom_desv_s2.png" style="width:500px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_histograma_cargas.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_cargas_hora.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_cargas_dia.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_cargas_retiros_bonos.png" style="width:800px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_monto_bono.png" style="width:400px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_cargas_prom_desv.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_clientes_torta.png" style="width:400px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_clientes_torta_datos_telefono.png" style="width:400px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_clientes_torta_datos_email.png" style="width:400px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_clientes_torta_datos_nombre.png" style="width:400px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_top_clientes_importes.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_chat_ult24.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_chat_prom_desv_ope.png" style="width:600px;"><br>
                    </td>
                    <td>
                        <img src="../reportes/oficina_todas/rpt_chat_prom_desv_cli.png" style="width:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_mensajes_cliente.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <img src="../reportes/oficina_todas/rpt_mensajes_operador.png" style="width:900px;height:600px;"><br>
                    </td>
                </tr>
            </tbody>
        </table>
        <h3>Mapa de Geolocalización de IPs de visitas de las últimas 6 hs</h3>
        <iframe src="../reportes/oficina_todas/ip_map.html" width="100%" height="600px" frameborder="0">
        </iframe>
        <h3>Mapa de Geolocalización de IPs de Usuarios de las últimas 6 hs</h3>
        <iframe src="../reportes/oficina_todas/ip_map_usr.html" width="100%" height="600px" frameborder="0">
        </iframe>
    <%} %>
    <table>
        <tbody>
            <% for (let i = 2; i <= 8; i++) { %>
                <% if ((id_rol == 1 || id_oficina == i) && (i == 2 || i == 8)) { %>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_actividad_dia.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_actividad_torta_dia_cargas.png" style="width:500px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_actividad_torta_dia_plataformas.png" style="width:500px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_cargas_evolucion.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_sockets.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_demoras_prom_desv.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_boxplot_demoras.png" style="width:500px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_boxplot_cargas.png" style="width:500px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_histograma_cargas.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_cargas_hora.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_cargas_dia.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_cargas_retiros_bonos.png" style="width:800px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_monto_bono.png" style="width:400px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_cargas_prom_desv.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_clientes_torta.png" style="width:400px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_clientes_torta_datos_telefono.png" style="width:400px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_clientes_torta_datos_email.png" style="width:400px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_clientes_torta_datos_nombre.png" style="width:400px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_top_clientes_importes.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_top_clientes_cargas.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_chat_ult24.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_chat_prom_desv_ope.png" style="width:600px;"><br>
                        </td>
                        <td>
                            <img src="../reportes/oficina_<%= i %>/rpt_chat_prom_desv_cli.png" style="width:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_mensajes_cliente.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2">
                            <img src="../reportes/oficina_<%= i %>/rpt_mensajes_operador.png" style="width:900px;height:600px;"><br>
                        </td>
                    </tr>
                <% } %>
            <% } %>
        </tbody>
    </table>
</body>
</html>