<html>
<head>
    <h2><%= title %></h2> 
</head>
<style>
    table {
      width: 100%;
      border-collapse: collapse;
    }
    img {
      display: block; /* Para evitar problemas de alineación vertical */
      margin: auto; /* Centrar horizontalmente la imagen */
    }
  </style>
<body>
    <table id="miTabla">
        <tbody>	
            <tr>
                <td>
                    <h3>Operación Oficina Pina:</h3>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_actividad_dia.png" style="width:500px;height:500px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_concurrencias.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_cargas.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_tipos_cargas.png" style="width:500px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_retiros.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_otras_acciones.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_cargas_retiros_bonos.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_cargas_prom_desv.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://panelesbot.com/reportes/rpt_conversiones.png" style="width:500px;"><br>
                </td>
                <td>
                    <img src="https://panelesbot.com/reportes/rpt_monto_bono.png" style="width:500px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_cargas_hora.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_cargas_dia.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td>
                    <img src="https://panelesbot.com/reportes/rpt_boxplot_cargas_todo.png" style="width:500px;"><br>
                </td>
                <td>
                    <img src="https://panelesbot.com/reportes/rpt_boxplot_cargas.png" style="width:500px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_montos_cargas.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_origen_notis_ayer.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <img src="https://panelesbot.com/reportes/rpt_origen_notis_total.png" style="width:900px;height:600px;"><br>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>