<html>
    <style>
        .container {
            display: flex;
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        }
        table {
            width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
            border-collapse: collapse; /* Combina los bordes de las celdas */
        }
    </style>
<body>
    <%if (message === 'ok') {%>
        <br>
        <table>
            <tr>
                <th colspan="2">
                    <label for="agente">Agente:</label><br>
                    <select id="agente">
                        <% datos.forEach(function(agente) { %>
                            <option value="<%= agente.id_agente %>"><%=agente.agente%></option>
                        <% }); %>
                    </select>
                </th>
            </tr>
            <tr>
                <th colspan="2">
                    <label for="observaciones">Observaciones:</label>
                    <input type="text" id="observaciones" maxlength="200" value="-">
                </th>
            </tr>
            <tr>
                <th colspan="2"> 
                    <label for="bonoPrimeraCarga">Tokens Referidos - Bono de Primera Carga (%):</label>
                    <input type="number" id="bonoPrimeraCarga" min="0" max="100" required value="0">
                </th>
            </tr>
        </table>
        <button onclick="registrar_Token();">Crear Token</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>