<html>
<body>
    <%if (message === 'ok') {%>
        <div class="wrapper">
            <div class="search-container">
                <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
                <span class="material-symbols-outlined">search</span>

                <button onclick="abrirModal(17);" class="help">
                    <span class="material-symbols-outlined">help_center</span>
                </button>
            
            </div>

        </div>
        <table id="miTabla">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Oficina</th>
                    <th>Plataforma</th>
                    <th>Agente</th>
                    <th>Propio</th>
                    <th>Link</th>
                    <th>Bono</th>
                    <th>Ingresos</th>
                    <th>Registros</th>
                    <th>Cargaron</th>
                    <th>Cargas</th>
                    <th>Importe</th>
                    <th>Bonos</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                    <% datos.forEach(function(dato) { %>
                    <tr>
                        <td>
                            <% if (dato.de_agente == true) { %>
                                <%= dato.id_registro_token %>
                            <% } else { %>
                                #
                            <% } %>
                        </td>
                        <td><%= dato.oficina %></td>
                        <td><%= dato.plataforma %></td>
                        <td><%= dato.agente_usuario %> </td>
                        <td> 
                            <% if (dato.de_agente == true) { %>
                                Sí
                            <% } else { %>
                                No
                            <% } %>
                        </td>
                        <td> 
                            <% if (dato.de_agente == true) { %>
                                <% if (dato.activo == true) { %>
                                    <button class="botones" onclick="copiarAlPortapapelesURL('<%=dato.id_token%>');">
                                        <span class="material-symbols-outlined">link</span>
                                    </button>
                                <% } else { %>
                                    (Inactivo)
                                <% } %>
                            <% } %>
                        </td>
                        <td><%= dato.bono_carga_1 %> <% if (dato.bono_carga_1_porcentaje == true) { %> % <% } %></td>
                        <td><%= dato.ingresos %></td>
                        <td><%= dato.registros %></td>
                        <td><%= dato.cargaron %></td>
                        <td><%= dato.total_cargas %></td>
                        <td>$ <%= dato.total_importe %></td>
                        <td><%= dato.total_bono %></td>
                        <% if (dato.de_agente == true) { %>
                            <td><button onclick="abrirModal(31, <%=dato.id_registro_token %>);">Editar</button></td>
                        <% } else { %>
                            <td></td>
                        <% } %>
                        <td><button onclick="abrirModal(32, <%=dato.id_agente %>, <%=id_rol %>, <%=dato.id_registro_token %>);">Ver</button></td>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div id="mensaje_portapapeles"></div>
        <div id="paginacion" class="pagenumbers"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <%if (id_rol < 3) {%>
        <td><button onclick="abrirModal(33, <%=id_oficina %>, <%=id_rol %>);">Nuevo Token</button></td>
    <%} %>
</body>
</html>