<html>
<head>
    <!--h1><%= title %></h1--> 
    <style>
        /* Contenedor principal usando Flexbox */
        .container_usuarios {
            display: flex;
            width: 100%;
            height: 100vh; /* Alto total de la ventana */
        }
        .col-30_usuarios {
            width: 30%;
            padding: 20px;
        }
        .col-70_usuarios {
            width: 70%;
            padding: 20px;
        }
        .col-50_usuarios {
            width: 50%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <%if (message === 'ok') {%>
        <div class="container_usuarios">
            <div class="col-30_usuarios">
                <div class="wrapper">
                    <div class="search-container">
                        <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
                        <span class="material-symbols-outlined">search</span>
                        <button onclick="abrirModal(16);" class="help">
                            <span class="material-symbols-outlined">help_center</span>
                        </button>
                    </div>
                </div>
                <table id="miTabla">
                    <thead>
                        <tr>
                            <th>Cliente</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <% if (id_rol < 3) { %>
                                <th></th>
                            <% } %>
                        </tr>
                    </thead>
                    <tbody>
                            <% datos.forEach(function(dato) { %>
                            <tr>
                                <td>
                                    <%= dato.cliente_usuario %><br>
                                    <h5><%= dato.oficina %> - <%= dato.plataforma %> - <%= dato.agente_usuario %></h5>
                                    <% if (dato.visto_operador == 0) { %>
                                        <span class="danger">!!!</span>
                                    <% } %>
                                </td>
                                <td>
                                    <button class="botones" onclick="abrirModalClientes(24, <%=dato.id_cliente %>);">
                                        <% if (dato.visto_operador == 0) { %>
                                            <span class="material-symbols-outlined danger">history</span>
                                        <% } else { %>
                                            <span class="material-symbols-outlined">history</span>
                                        <% } %>
                                    </button>
                                </td>
                                <td>
                                    <button class="botones" onclick="abrirModalClientes(25, <%=dato.id_cliente %>);">
                                        <span class="material-symbols-outlined">add</span>                        
                                    </button><br>
                                    <button class="botones" onclick="abrirModalClientes(28, <%=dato.id_cliente %>);">
                                        <span class="material-symbols-outlined">remove</span>                    
                                    </button>
                                </td>
                                <td>
                                    <button class="botones" onclick="abrirModalClientes(35, <%=dato.id_cliente %>);">
                                        <span class="material-symbols-outlined">person_off</span>             
                                    </button><br>
                                    <button class="botones" onclick="abrirModalClientes(27, <%=dato.id_cliente %>);">
                                        <% if (dato.bloqueado == true) { %>
                                            <div class="warning">
                                                <span class="material-symbols-outlined">warning</span>
                                            </div>
                                        <% } else { %>
                                            <div class="success">
                                                <span class="material-symbols-outlined">verified_user</span>
                                            </div>
                                        <% } %>
                                    </button>
                                </td>
                                <% if (id_rol < 3) { %>
                                    <td><button class="botones"  onclick="abrirModalClientes(30, <%=dato.id_cliente %>);">
                                            <span class="material-symbols-outlined">info</span>                        
                                        </button>
                                    </td>
                                <% } %>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
                <div id="paginacion" class="pagenumbers"></div>
                <% if (id_rol < 3) { %>
                    <button onclick="abrirModal(37, <%=id_oficina %>);">Mensaje Masivo a Clientes</button>
                <% } %>
            </div>
            <div class="col-70_usuarios">          
                <div class="content" id="modal-contenido-clientes"></div>
            </div>
        </div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
</body>
</html>