<%if (message === 'ok') {%>
    <% datos.forEach(linea => { %>
        <%if (!linea.misma_fecha) {%>
            <div class="date-divider"><%= linea.fecha_mensaje %></div>
        <% } %>
        <%if (linea.enviado_cliente) {%>
            <div class="message other">
                <%if (linea.mensaje == '') {%>
                    <div class="message-content">
                        <%if (  String(linea.nombre_original).toLowerCase().includes(".jpg") ||
                                String(linea.nombre_original).toLowerCase().includes(".jpeg") ||
                                String(linea.nombre_original).toLowerCase().includes(".png") ||
                                String(linea.nombre_original).toLowerCase().includes(".bmp")) {%>
                                <img src="https://paneleslanding.online/imagen/<%=linea.nombre_guardado%>" style="width:500px;">
                                <!--img src="http://localhost:3000/imagen/<%=linea.nombre_guardado%>" style="height:500px;"-->
                        <% } %>
                        <a href="/descargar/<%=linea.nombre_guardado%>" 
                            download="<%=linea.nombre_original%>">
                            Descargar <%= linea.nombre_original %>
                        </a>
                    </div>
                <% } else {%>
                    <div class="message-content"><%= linea.mensaje %></div>
                <% } %>
                <div class="message-time"><%= linea.horario_mensaje %></div>
            </div>
        <% } else {%>
            <div class="message self">
                <%if (linea.mensaje == '') {%>
                    <div class="message-content">
                        <a href="/descargar/<%=linea.nombre_guardado%>" 
                            download="<%=linea.nombre_original%>">
                            Descargar <%= linea.nombre_original %>
                        </a>
                    </div>
                <% } else {%>
                    <%if (linea.marca_baja) {%>
                        <div class="message-content">  
                            <span style="text-decoration: line-through; color: orange;"><%= linea.mensaje %></span>
                        </div>
                    <% } else {%>
                        <div class="message-content"><%= linea.mensaje %></div>
                    <% } %>
                <% } %>
                <div class="message-time"><%= linea.horario_mensaje %> - (<%= linea.usuario %>)</div>
                <%if (!linea.marca_baja) {%>
                    <span style="cursor: pointer; color: orange;"
                        onclick="eliminarLineaChat(<%=linea.id_cliente_chat%>,<%=linea.id_cliente%>, <%=visita%>);"
                        class="material-symbols-outlined">delete
                    </span>
                <% } %>
            </div>
        <% } %>
    <% }); %>
<%} %>