<h1><%= title %></h1>
<br>
<style>
    .izquierda {
        text-align: left; /* Alinea el texto a la izquierda */
    }
</style>
<div class="izquierda">
    <p>En la configuración de <b>Usuarios de Clientes</b>, se pueden visualizar los siguientes <b>atributos</b>:</p>
    <br>
    <ul>
        <li><b>Oficina</b>: Descripción de la Oficina</li>
        <li><b>Número</b>: Número de Teléfono del Cliente.</li>
        <li><b>Nombre</b>: Nombre por el cuál está registrado el Cliente en la Cuenta de Whatsapp donde estaba el Bot que lo Creó.</li>
        <li><b>Usuario</b>: Nombre del Usuario del Cliente. Un Cliente tiene un Usuario distinto por Oficina y Panel.</li>
        <li><b>Pagina Admin/Agentes</b>: Pagina de Administración del Panel.</li>
    </ul>
    <br><br><br>
    <p>Para <b>Desactivar el Usuario</b> hacer click en el botón <b>X</b> de la columna "Desactivar".</p>
    <br><br><br>
    <p>Para <b>realizar un Cobro y Cargar Fichas al Usuario</b> hacer click en el botón <b>$</b> de la columna "Carga".</p>
    <br><br><br>
    <p>Para <b>realizar un Retiro de Fichas al Usuario</b> hacer click en el botón <b>↓</b> de la columna "Retiro".</p>
    <br><br><br>
    <p>Para <b>marcar o desmarcar como Fraude al Usuario</b> hacer click en el botón <b>&#9760</b> ó <b>&#9786</b> de la columna "Fraude".</p>
    <br><br><br>
    <p>Para <b>desvincular un Alias del Usuario</b> hacer click en el botón <b>©</b> de la columna "Alias Vinculados".</p>
    <br>
</div>
<button onclick="cerrarModal();">Finalizar</button>