<html>
<head>
    <!--h1><%= title %></h1-->
</head>
<body>
<!----------------------INICIO FILTER & SEARCH----------------------->
    <div class="wrapper">
        <div class="search-container">
            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
            <span class="material-symbols-outlined">search</span>
            <button onclick="abrirModal(36);" class="help">
                <span class="material-symbols-outlined">info</span>
            </button>
            <a href="/descargar_usuarios_clientes_ip/<%=id_token%>/<%=id_usuario%>">
                <span class="material-symbols-outlined">vertical_align_bottom</span>
            </a>
            <button onclick="abrirModal(43, <%=id_usuario%>, '<%=id_token%>');" class="help">
                <span class="material-symbols-outlined">data_loss_prevention</span>
                <!--span class="material-symbols-outlined">person_search</span-->
            </button>
        </div>
    </div>
    <%if (message === 'ok') {%>
    <!----------------------FIN FILTER & SEARCH----------------------->
        <table id="miTabla">
            <thead>
                <tr>
                    <th>Oficina</th>
                    <th>Plataforma</th>
                    <th>Agente</th>
                    <th>Cliente</th>
                    <th>Chat</th>
                    <th>Carga</th>
                    <th>Retiro</th>
                    <th>Contraseña</th>
                    <th>Bloqueo</th>
                    <% if (id_rol == 1) { %>
                        <th>Info</th>
                    <% } %>
                </tr>
            </thead>
            <tbody>
                    <% datos.forEach(function(dato) { %>
                    <tr>
                        <td><%= dato.oficina %></td>
                        <td><%= dato.plataforma %></td>
                        <td><%= dato.agente_usuario %></td>
                        <td><%= dato.cliente_usuario %></td>
                        <td><button class="botones" onclick="abrirModal(24, <%=dato.id_cliente %>);"> 
                                <span class="material-symbols-outlined">history</span>
                                <% if (dato.visto_operador == 0) { %>
                                    <h1 class="danger">!!!</h1>
                                <% } %>
                            </button>
                        </td>
                        <td><button class="botones" onclick="abrirModal(25, <%=dato.id_cliente %>);">
                                <span class="material-symbols-outlined">add</span>                        
                            </button>
                        </td>
                        <td><button class="botones" onclick="abrirModal(28, <%=dato.id_cliente %>);">
                                <span class="material-symbols-outlined">remove</span>                    
                            </button>
                        </td>
                        <td><button class="botones" onclick="abrirModal(35, <%=dato.id_cliente %>);">
                                <span class="material-symbols-outlined">person_off</span>             
                            </button>
                        </td>
                        <td><button class="botones" onclick="abrirModal(27, <%=dato.id_cliente %>);">
                                <% if (dato.bloqueado == true) { %>
                                    <div class="warning">
                                        <span class="material-symbols-outlined">warning</span>
                                    </div>
                                <% } else { %>
                                    <div class="success">
                                        <span class="material-symbols-outlined">verified_user</span>
                                    </div>
                                <% } %>
                            </button>
                        </td>
                        <% if (id_rol == 1) { %>
                            <td><button class="botones"  onclick="abrirModal(30, <%=dato.id_cliente %>);">
                                    <span class="material-symbols-outlined">info</span>                        
                                </button>
                            </td>
                        <% } %>
                    </tr>
                    <% }); %>
            </tbody>
        </table>
        <div id="paginacion" class="pagenumbers"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
</body>
</html>