<body>
    <%if (message === 'ok') {%>
        <h3><%= title %></h3>
        <div id="chat-window">
            <div id="chat-messages">
                <table>
                    <thead>
                        <tr>
                            <th>IP</th>
                            <th>Cliente Usuario</th>
                            <th>Agente</th>
                            <th>Oficina</th>
                            <th>Cliente Usuario Afectado</th>
                            <th>Agente Afectado</th>
                            <th>Oficina Afectado</th>
                            <th>Desbloquear</th>
                        </tr>
                    </thead>
                    <tbody>
                            <% datos.forEach(function(dato) { %>
                            <tr>
                                <td><%= dato.ip %></td>
                                <td><%= dato.cliente_usuario_bloqueante %></td>
                                <td><%= dato.agente_usuario_bloqueante %></td>
                                <td><%= dato.oficina_bloqueante %></td>
                                <td><%= dato.cliente_usuario_afectado %></td>
                                <td><%= dato.agente_usuario_afectado %></td>
                                <td><%= dato.oficina_afectada %></td>
                                <td><button class="botones" onclick="abrirModal(27, <%=dato.id_cliente_bloqueante %>);">
                                        <div class="warning">
                                            <span class="material-symbols-outlined">warning</span>
                                        </div>
                                    </button >
                                </td>
                            </tr>
                            <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    <%} else {%>
        <h3><%= title %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>