<html>
<head>
    <!--h1><%= title %></h1--> 
    <style>
        /* Contenedor principal usando Flexbox */
        .container_usuarios {
            display: flex;
            width: 100%;
            height: 100vh; /* Alto total de la ventana */
        }
        .col-30_usuarios {
            width: 40%;
            padding: 20px;
        }
        .col-70_usuarios {
            width: 70%;
            padding: 20px;
        }
        .col-50_usuarios {
            width: 50%;
            padding: 20px;
        }
    </style>
</head>
<body>
    <%if (message === 'ok') {%>
        <div class="container_usuarios">
            <div class="col-30_usuarios">
                <div class="content" id="contenido-clientes">
                    <div class="wrapper">
                        <div class="search-container">
                            <input type="search" id="search-input" placeholder="Busqueda rápida ↯">
                            <span class="material-symbols-outlined">search</span>
                            <button onclick="filtroChat(0, '!!!');" class="help">
                                <span class="material-symbols-outlined">search_off</span>
                            </button>
                            <button onclick="filtroChat(1, '');" class="help">
                                <span class="material-symbols-outlined">all_match</span>
                            </button>
                            <button onclick="filtroChat(2, '<%=usuario_ope%>');" class="help">
                                <span class="material-symbols-outlined">3p</span>
                            </button>
                        </div>
                    </div>
                    <!--div id="chat-messages-clientes"-->
                        <table id="miTabla">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                    <% if (id_rol == 1) { %>
                                        <th></th>
                                    <% } %>
                                </tr>
                            </thead>
                            <tbody>
                                <% datos.forEach(function(dato) { %>
                                    <% if (dato.visita == '') { %>
                                        <tr>
                                            <td>
                                                <h3><%= dato.cliente_usuario %> - <%= dato.ult_operacion %> 
                                                    <% if (dato.id_usuario == id_usuario) { %>
                                                        <span class="warning">(<%= dato.usuario %>)</span>
                                                    <% } else if (dato.id_usuario == 1) { %>
                                                        <span class="warning">Pendiente !!!</span>
                                                    <% } else if (dato.id_usuario > 0) { %>
                                                        (<%= dato.usuario %>)
                                                    <% } %>
                                                </h3>
                                                <h5><%= dato.oficina %> - <%= dato.agente_usuario %> - <%= dato.plataforma %> 
                                                    <% if (dato.visto_operador == 0) { %>
                                                        <span class="danger"><%= dato.no_leidos %> !!!</span>
                                                    <% } %>
                                                </h5>
                                            </td>
                                            <td>
                                                <button class="botones" onclick="abrirModalClientes(24, <%=dato.id_cliente %>, '0');">
                                                    <% if (dato.visto_operador == 0) { %>
                                                        <span class="material-symbols-outlined danger">history</span>
                                                    <% } else { %>
                                                        <span class="material-symbols-outlined">history</span>
                                                    <% } %>
                                                </button>
                                            </td>
                                            <td><button class="botones" onclick="abrirModal(25, <%=dato.id_cliente %>);">
                                                    <span class="material-symbols-outlined">add</span>                        
                                                </button>
                                            </td>
                                            <td><button class="botones" onclick="abrirModal(28, <%=dato.id_cliente %>);">
                                                    <span class="material-symbols-outlined">remove</span>                    
                                                </button>
                                            </td>
                                            <% if (id_rol == 1) { %>
                                                <td><button class="botones" onclick="abrirModalClientes(30, <%=dato.id_cliente %>);">
                                                        <span class="material-symbols-outlined">info</span>                        
                                                    </button>
                                                </td>
                                            <% } %>
                                        </tr>
                                    <%} else { %>
                                        <tr>
                                            <td>
                                                <h3><%= dato.cliente_usuario %> - <%= dato.ult_operacion %> 
                                                    <% if (dato.id_usuario == id_usuario) { %>
                                                        <span class="warning">(<%= dato.usuario %>)</span>
                                                    <% } else if (dato.id_usuario == 1) { %>
                                                        <span class="warning">Pendiente !!!</span>
                                                    <% } else if (dato.id_usuario > 0) { %>
                                                        (<%= dato.usuario %>)
                                                    <% } %>
                                                </h3>
                                                <h5><%= dato.oficina %>
                                                    <% if (dato.visto_operador == 0) { %>
                                                        <span class="danger"><%= dato.no_leidos %> !!!</span>
                                                    <% } %>
                                                </h5>
                                            </td>
                                            <td>
                                                <button class="botones" onclick="abrirModalClientes(24, <%=dato.id_cliente %>, '1');">
                                                    <% if (dato.visto_operador == 0) { %>
                                                        <span class="material-symbols-outlined danger">history</span>
                                                    <% } else { %>
                                                        <span class="material-symbols-outlined">history</span>
                                                    <% } %>
                                                </button>
                                            </td>
                                            <td></td>
                                            <td></td>
                                            <% if (id_rol == 1) { %>
                                                <td></td>
                                            <% } %>
                                        </tr>
                                    <%} %>
                                <% }); %>
                            </tbody>
                        </table>
                    <!--/div-->
                </div>
            </div>
            <div class="col-70_usuarios">        
                <div class="content" id="modal-contenido-clientes"></div>
                <div id="paginacion" class="pagenumbers"></div>
                <% if (id_rol < 3) { %>
                    <button onclick="abrirModal(37, <%=id_oficina %>);">Mensaje Masivo a Clientes</button>
                <% } %>
            </div>
        </div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
</body>
</html>