<html>
<head>
    <h1><%= title %></h1>
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message == 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    Usuario del Cliente: <%= cliente_usuario %>
                </th>
                <th>
                    <label for="password">Nueva Contraseña:</label>
                    <input type="text" id="password" maxlength="100" value="cambiar123">
                </th>
            </tr>
        </table>
        <button onclick="cambiar_Password(<%= id_cliente %>);">Cambiar Contraseña</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>