<html>
<head>
    <h1><%= title %></h1>
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message == 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    <label for="mensaje">Mensaje:</label>
                    <input type="text" id="mensaje" maxlength="200">
                </th>
            </tr>
        </table>
        <h3 class="warning">¡Atención! Se enviará este mensaje a todos los clientes de la oficina.</h3>
        <button onclick="enviar_Mensaje_Masivo(<%= id_oficina %>);">Enviar Mensaje</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>