<html>
<head>
    <h1><%= title %></h1>
</head>
<style>
    .container {
        display: flex;
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
    }
    table {
        width: 100%; /* Establece el ancho de la tabla al 100% del contenedor */
        border-collapse: collapse; /* Combina los bordes de las celdas */
    }
</style>
<body>
    <%if (message == 'ok') {%>
        <br>
        <table>
            <tr>
                <th>
                    <label for="cliente_busca">Introducir el Usuario a Buscar (Mínimo 4 caracteres):</label>
                    <input type="text" id="cliente_busca" maxlength="50">
                </th>
            </tr>
        </table>
        <button onclick="buscar_Clientes_Completo(<%= id_usuario %>, '<%= id_token %>');">Buscar</button>
        <div id="msgResultado"></div>
    <%} else {%>
        <h3><%= message %></h3>
    <%} %>
    <button onclick="cerrarModal();">Finalizar</button>
</body>
</html>