<body>
    <%if (message === 'ok') {%>
        <h3><%= title %></h3>
        <%if (en_sesion) {%>
            <h6 class="success">Está en Línea</h6>
        <% } else {%>
            <h6 class="warning">No está en Línea</h6>
        <% } %>
        <div id="chat-window">
            <div id="chat-messages">
                <% datos.forEach(linea => { %>
                    <%if (!linea.misma_fecha) {%>
                        <div class="date-divider"><%= linea.fecha_mensaje %></div>
                    <% } %>
                    <%if (linea.enviado_cliente) {%>
                        <div class="message other">
                            <%if (linea.mensaje == '') {%>
                                <div class="message-content">
                                    <%if (  String(linea.nombre_original).toLowerCase().includes(".jpg") ||
                                            String(linea.nombre_original).toLowerCase().includes(".jpeg") ||
                                            String(linea.nombre_original).toLowerCase().includes(".png") ||
                                            String(linea.nombre_original).toLowerCase().includes(".bmp")) {%>
                                            <img src="https://paneleslanding.online/imagen/<%=linea.nombre_guardado%>" style="width:500px;"-->
                                            <!--img src="http://localhost:3000/imagen/<%=linea.nombre_guardado%>" style="height:500px;"-->
                                    <% } %>
                                    <a href="/descargar/<%=linea.nombre_guardado%>" 
                                        download="<%=linea.nombre_original%>">
                                        Descargar <%= linea.nombre_original %>
                                    </a>
                                </div>
                            <% } else {%>
                                <div class="message-content"><%= linea.mensaje %></div>
                            <% } %>
                            <div class="message-time"><%= linea.horario_mensaje %></div>
                        </div>
                    <% } else {%>
                        <div class="message self">
                            <%if (linea.mensaje == '') {%>
                                <div class="message-content">
                                    <a href="/descargar/<%=linea.nombre_guardado%>" 
                                        download="<%=linea.nombre_original%>">
                                        <%= linea.nombre_original %>
                                    </a>
                                </div>
                            <% } else {%>
                                <%if (linea.marca_baja) {%>
                                    <div class="message-content">  
                                        <span style="text-decoration: line-through; color: orange;"><%= linea.mensaje %></span>
                                    </div>
                                <% } else {%>
                                    <div class="message-content"><%= linea.mensaje %></div>
                                <% } %>
                            <% } %>
                            <div class="message-time"><%= linea.horario_mensaje %> - (<%= linea.usuario %>)</div>
                            <%if (!linea.marca_baja) {%>
                                <span style="cursor: pointer; color: orange;"
                                    onclick="eliminarLineaChat(<%=linea.id_cliente_chat%>,<%=linea.id_cliente%>, 0);" 
                                    class="material-symbols-outlined">delete
                                </span>
                            <% } %>
                        </div>
                    <% } %>
                <% }); %>
            </div>
            <div>
                <textarea id="message-input" placeholder="Tu mensaje aquí..." rows="2" cols="70" maxlength="200"></textarea>
            </div>
            <div id="input-area">       
                <button id="send-button" onclick="cargarContenidoChats(<%=id_cliente%>, document.getElementById('message-input').value, false, 0, 0);">Enviar</button>
                <select id="emoticones" onchange="insertarEmoticon()">
                    <option value="sel">Emojis</option>
                    <option value="😊">😊</option>
                    <option value="😄">😄</option>
                    <option value="😍">😍</option>
                    <option value="😂">😂</option>
                    <option value="😎">😎</option>
                    <option value="😉">😉</option>
                    <option value="😁">😁</option>
                    <option value="😅">😅</option>
                    <option value="🥰">🥰</option>
                    <option value="🤣">🤣</option>
                    <option value="😇">😇</option>
                    <option value="🤗">🤗</option>
                    <option value="😌">😌</option>
                    <option value="😏">😏</option>
                    <option value="😬">😬</option>
                    <option value="🤔">🤔</option>
                    <option value="😴">😴</option>
                    <option value="😢">😢</option>
                    <option value="😭">😭</option>
                    <option value="😞">😞</option>
                    <option value="😔">😔</option>
                    <option value="😕">😬</option>
                    <option value="😕">😕</option>
                    <option value="😟">😟</option>
                    <option value="😥">😥</option>
                    <option value="😓">😓</option>
                    <option value="😫">😫</option>
                    <option value="😩">😩</option>
                    <!-- Agrega más emoticones según tus necesidades -->
                </select>
            </div>
            <div id="input-area">                              
                <button id="attach-button" onclick="document.getElementById('file-input').click();">Adjuntar</button>
                <input type="file" id="file-input" style="display: none;" accept=".jpg, .jpeg, .png, .pdf, .bmp" onchange="mostrarNombreAdjunto()">
            </div>
            <div id="input-area">                              
                <p id="nombre_archivo"></p>
            </div>
            <div id="input-area">                              
                <p id="resultado_envio_adjunto"></p>                
            </div>
        </div>
    <%} else {%>
        <h3><%= title %></h3>
    <%} %>
    <button onclick="FinalizarChat(<%=id_cliente%>, 0);">Finalizar</button>
</body>