#chat-window {
    max-width: 100%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#chat-messages {
    overflow-y: auto; /* Barra de desplazamiento vertical */
    max-height: 200px; /* Altura máxima */
}

#chat-messages-clientes {
    overflow-y: auto; /* Barra de desplazamiento vertical */
    max-height: 800px; /* Altura máxima */
}

#chat-messages-largo {
    overflow-y: auto;
    max-height: 500px; /* Altura máxima */
}

.message {
    margin-bottom: 5px;
    clear: both;
}

.other {
    color: #0de1b7;
    text-align: left;
}

.self {
    color: #007bff;
    text-align: right;
}

.message-content {
    padding: 5px 10px;
    border-radius: 5px;
    display: inline-block;
}

.message-time {
    font-size: 10px;
    color: #999;
    margin-left: 10px;
    display: inline-block;
}

#input-area {
    display: flex;
}

#message-input {
    /*flex: 1;*/
    padding: 5px 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-right: 5px;
    color: #007bff;
    text-align: left;
}

#send-button {
    flex: 1;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #044284;
    color: white;
    cursor: pointer;
}

#attach-button {
    flex: 1;
    padding: 5px 5px;
    border: none;
    border-radius: 5px;
    background-color: #2e3339;
    color: white;
    cursor: pointer;
}

.date-divider {
    text-align: center;
    font-size: 12px;
    color: #999;
    margin: 10px 0;
}